.content-btn .text-holder {
    cursor: pointer;
}
.red-to-page-ipad .content-btn .text-holder {
    cursor: default;
}
.red-to-page-ipad .orange-center.show-content {
    cursor: default;
    pointer-events:none;
}