.footer {
    position: relative;
    display: block;
    top: 200px;
    text-align: center;
    max-width: 220px;
    font-size: 11px;
    margin:auto;
    padding-bottom: 20px;
    a:link, a:visited, a:hover  {
        text-decoration:underline;
        img {
            text-decoration: none;
        }
    }
}
@media all and (max-width: 660px) {
    .footer {
        top: 0px;
        z-index: 100;
    }
}