.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: @darkGreen;
    z-index: 400000;
    .header-contain{
        width: 899px;
        height: 100%;
        margin: 0 auto;
        .icon-holder{
            width: 177px;
            height: 100%;
            margin: 0 auto 0 auto;
            position: relative;
            .icon{
                width: 50px;
                height: 100%;
                margin-left: 0;
                background-image: url('img/download.svg');
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
            }
            p{
                width: 131px;
                position: absolute;
                top: 0px;
                right: 0px;
                color: #fff;
            }
        }
        .back-to-list{
            position: absolute;
            top: 5px;
            z-index: 20;
            width: 40px;
            height: 37px;
            text-align: center;
            cursor: pointer;
            div{
                width: 33.3333%;
                height: 100%;
                display: inline-block;
                position: relative;
                border-radius: 200px;
                cursor: pointer;
                
            }
            .left, .midal, .right, p {
                -webkit-transition: all .7s;
                -moz-transition: all .7s;
                -ms-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
            }
            .left{
                background-color: #f7a637;
                background-color: #d21528;
                top:-372%;
                -webkit-transition-delay: .4s !important;
                -moz-transition-delay: .4s !important;
                -ms-transition-delay: .4s !important;
                -o-transition-delay: .4s !important;
                transition-delay: .4s !important;
            }   
            .midal{
                background-color: #f06231;
                background-color: #f06231;
                top:-372%;
                -webkit-transition-delay: .2s !important;
                -moz-transition-delay: .2s !important;
                -ms-transition-delay: .2s !important;
                -o-transition-delay: .2s !important;
                transition-delay: .2s !important;
            }
            .right{
                background-color: #d21528;
                background-color: #f7a637;
                -webkit-transition-delay: .0s !important;
                -moz-transition-delay: .0s !important;
                -ms-transition-delay: .0s !important;
                -o-transition-delay: .0s !important;
                transition-delay: .0s !important;
                top:-372%;
            }
            p{
                position: absolute;
                top: -372px;
                left: 8%;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                text-decoration: underline;
                text-transform: uppercase;
                -webkit-transition-delay: .0s!important;
                -moz-transition-delay: .0s!important;
                -ms-transition-delay: .0s!important;
                -o-transition-delay: .0s!important;
                transition-delay: .0s!important;
            }
            .p-second{
                left: 48px;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 18px;
                font-weight: 100;
            }
        }
        .back-to-list{
            display: block;
        }
        .show-back-to-list{
            .left{
                background-color: #f7a637;
                top: 0% !important;
                 -webkit-transition: all .7s !important;
                -moz-transition: all .7s !important;
                -ms-transition: all .7s !important;
                -o-transition: all .7s !important;
                -webkit-transition-delay: .0s !important;
                -moz-transition-delay: .0s !important;
                -ms-transition-delay: .0s !important;
                -o-transition-delay: .0s !important;
                transition-delay: .0s !important;
            }   
            .midal{
                background-color: #f06231;
                top: 0% !important;
                -webkit-transition: all .7s !important;
                -moz-transition: all .7s !important;
                -ms-transition: all .7s !important;
                -o-transition: all .7s !important;
                transition: all .7s !important;
                -webkit-transition-delay: .2s !important;
                -moz-transition-delay: .2s !important;
                -ms-transition-delay: .2s !important;
                -o-transition-delay: .2s !important;
                transition-delay: .2s !important;
            }
            .right{
                background-color: #d21528;
                top: 0% !important;
                -webkit-transition: all .7s !important;
                -moz-transition: all .7s !important;
                -ms-transition: all .7s !important;
                -o-transition: all .7s !important;
                -webkit-transition-delay: .4s !important;
                -moz-transition-delay: .4s !important;
                -ms-transition-delay: .4s !important;
                -o-transition-delay: .4s !important;
                transition-delay: .4s !important;
            }
            p{
                top: -1px;
                -webkit-transition: all .7s !important;
                -moz-transition: all .7s !important;
                -ms-transition: all .7s !important;
                -o-transition: all .7s !important;

                -webkit-transition-delay: .6s !important;
                -moz-transition-delay: .6s !important;
                -ms-transition-delay: .6s !important;
                -o-transition-delay: .6s !important;
                transition-delay: .6s !important;
            }
            .p-second{
                top: -10px;
                 -webkit-transition-delay: .6s !important;
                -moz-transition-delay: .6s !important;
                -ms-transition-delay: .6s !important;
                -o-transition-delay: .6s !important;
                transition-delay: .6s !important;
            }
        }
    }
}
@media (max-width: 1034px){
    .header-contain{
        width: 90% !important;
    }
}
@media (max-width: 660px){
    .header .header-contain .icon-holder {
        position: relative;
        width: 177px;
        height: 100%;
        /* right: 0px; */
        float: right;
        .icon{
            display: none;
        }
    }
}