.back-to-list{
    display: none;
}
.red-center, .orange-center, .yellow-center{
    h1{
        padding: 0 60px;
        font-size: 25px;
        color: #fff;
        text-align: center;
        position: absolute;
        z-index: 40;
        margin-top: -73px;
    }
    .title-underline{
        z-index: 71;
        position: absolute;
        color: #fff;
        width: 100%;
        text-align: center;
        letter-spacing: 5px;
    }
}
.red, .yellow, .orange{
    padding-top: 60px;
    z-index: 1;
}

.links-are-title{
    position: absolute;
    top:433px;
    left: 5%;
    color:#ffffff;
    opacity: 0.0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.page-text{
    position: relative !important; 
    top: -12px !important;
    left: 0px;
    width: 623px;
}
.container-shrink{
    background-color: rgba(105, 134, 138, 0) !important;
}
.yellow-move-up{
    top: -505px!important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.title-container{
    top: 65px;
    left: 3%;
    z-index: 300;
    width: 400px;
    height: auto;
    font-size: 11px;
}
.body-text-holder{
    -webkit-transition: all 1.7s ease;
    -moz-transition: all 1.7s ease;
    -ms-transition: all 1.7s ease;
    -o-transition: all 1.7s ease;
    transition: all 1.7s ease;
    opacity: 0.0;
    left: 0px;
    .infoholder{
        color:#ffffff;
        h2{
            margin-top: 5px;
        }
    }

}
.show-this-page{
    .body-text-holder{
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -ms-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s;
        top: 0px !important;
        opacity: 1.0;
    }
    .info{
        opacity: 1.0;
        div{
            opacity: 1.0 !important;
        }
    }
}
.lottery-tab p{
    margin-top: 3px !important;
    &:nth-child(2){
        margin-top: -17px !important;
    }
}
.shrink-the-logo{
    width: 270px;
    height: 172px;
    -ms-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}
.shrink-the-title{
    -webkit-transform: translate3d(27px, 0, 0);
    -moz-transform: translate3d(27px, 0, 0);
    -ms-transform: translate3d(27px, 0, 0);
    -o-transform: translate3d(27px, 0, 0);
    transform: translate3d(27px, 0, 0);
}
.shrink-the-key{
    -webkit-transform: translate3d(27px, 0, 0);
    -moz-transform: translate3d(27px, 0, 0);
    -ms-transform: translate3d(27px, 0, 0);
    -o-transform: translate3d(27px, 0, 0);
    transform: translate3d(27px, 0, 0);
}
@media (max-width: 1256px){
    .change-height:after{
        height: 50% !important;
        top: 250px;
        -webkit-transition: all 0.5s ease; 
        transition: all 0.5s ease;
        -ms-transition: all 0.5s ease; 
        -moz-transition: all 0.5s ease; 
        -o-transition: all 0.5s ease; 
    }
}
@media (max-width: 1343px){
    body .red-container-down {
        top: 2px !important;
    }
    .page-text p{
        font-size: 14px !important
    }
    .charities-enterprise-page .infoholder {
        top: 16px !important;
    }
}
