
.yellow .infoholder{
    position: absolute;
    top: 265px;
    h2{
        font-size: 18px;
    }
}
.page-text a{
    color: #ffffff;
}
.container .yellow-to-page{
    position: absolute;
    width: 15%;
    height:100%;
    background-color: #f7a637;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all .7s;
        transition: all .7s;
    &::before{
        position: absolute;
        top: 0;
        left: -68px;
        width: 300px;
        height: 37%;
        background-color: #f7a637;
        border-radius: 100px;
        content: '';
        -webkit-transition: all 0.7s; 
        transition: all 0.7s;
    }
    &::after{
        position: absolute;
        bottom: 0;
        height: 37%;
        background-color: #f7a637;
        border-radius: 100px;
        content: '';
        -webkit-transition: all .7s;
        transition: all .7s;
        left: -1194%!important;
    }
}
@media (max-width: 1875px){
    .container .yellow-to-page::after {
    left: -960%!important;
    }
}

