.infoholder {
    z-index: 50;
    color: #fff;
    text-align: center;
    height: 200px;
    padding: 0 10px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    h2{
        padding: 0px 10px;
        font-size: 18px;
        margin-top: 0px;
    }
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        &:nth-child(2){
            text-decoration: underline;
        }
    }
    .text-holder-inner {
        overflow: hidden;
        height: auto;
        padding: 0px 30px;
    }
    p {
        margin-top: 14px;
        font-size: 12px;
    }
}