.yellow-holder,.red-holder,.orange-holder{
    -webkit-transition: all 0.7s; 
    transition: all 0.7s;
    bottom: -100%;
    div div{
        opacity: 0.0;
    }
}
.title-container {
     opacity: 0.0;
}
.yellow-center, .red-center, .orange-center{
    h1, .title-underline{
        opacity: 0.0;
        -o-transition: all 1.0s; 
        -ms-transition: all 1.0s; 
        -moz-transition: all 1.0s; 
        -webkit-transition: all 1.0s; 
        transition: all 1.0s;
    }
}
.slideup{
    bottom: 0% !important;
     -webkit-transition: all 0.7s; 
    transition: all 0.7s;
}
.show-content{ 
    opacity: 1.0;
    -webkit-transition: all 1.0s; 
    transition: all 1.0s;
    div div{
        opacity: 1.0;
        -webkit-transition: all 0.7s; 
        transition: all 0.7s;
        z-index: 10;
    }
    h1, .title-underline{
        opacity: 1.0;
        -webkit-transition: all 1.0s; 
        transition: all 1.0s;
    }
}
.yellowflare{
    background-color: #FF9300 !important;
    &:before{
        background-color: #FF9300 !important;
    }
    &:after{
        background-color: #FF9300 !important;
    }
}
.orangeflare{
    background-color: #F09231 !important;
    &:before{
        background-color: #F09231 !important;
    }
    &:after{
        background-color: #F09231 !important;
    }
}
.redflare{
    background-color: #F93145 !important;
    &:before{
        background-color: #F93145 !important;
    }
    &:after{
        background-color: #F93145 !important;
    }
}

.header    { 
    /* overall animation container */
    height: 0; 
    overflow: hidden;

    transition-property: height;
    transition-duration: 1s;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.icon-holder   { 
    /* animated, "folded" block */
    margin-top: -2px !important;
    height: 56px; 
    transition-property: all; 
    transition-duration: 1s;
    transform: rotateX(-90deg);
    transform-origin: top; 
}

/* Hover states to trigger animations */
.showdownload{  
    height: 45px; 
    .icon-holder{
        margin-top: 0px !important;
        transform: rotateX(0deg); 
        height: 45px;
    }
}
