.title-container{ 
    position: absolute;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    .title {
        width: 316px;
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
    }
}
.container {
    width: 100% !important;
    max-width: 1020px;
    position: relative;
    top: 0;
    height: 1000px;
    margin: 0 auto 0 auto;
    background-color: #eee;
    background-color: #07515a;
    padding-top: 425px;
    .yellow-center{
        position: relative;
        display: inline-block;
        left: 0;
        z-index: 40;
        width: 33.333%;
        height: 1462px;
        padding: 0px 0px 0px 0px;
        vertical-align: top;
        box-sizing: border-box;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -0-transition: all 0.7s;
        transition: all 0.7s;
        .yellow-holder{
            width: 100%;
            height: 100%;
            left:0px;
            position: relative;
            background-color: #07515a;
            border-radius: 0px; 
            overflow: inherit;
                -webkit-transition: all 0.7s;
                -moz-transition: all 0.7s;
                -ms-transition: all 0.7s;
                -0-transition: all 0.7s;
                transition: all 0.7s;
            .yellow{
                position: absolute;
                width: 100%;
                height:100%;
                background-color: #f7a637;
                right: 0px;
                -webkit-transition: all 0.7s;
                -moz-transition: all 0.7s;
                -ms-transition: all 0.7s;
                -0-transition: all 0.7s;
                transition: all 0.7s;
                &::before{
                    position: absolute;
                    top: -161px;
                    left: 0;
                    width: 100%;
                    height: 161px;
                    background-color: #f7a637;
                    border-radius: 450px 450px 0px 0px;
                    content: '';
                    -webkit-transition: all .7s;
                    -moz-transition: all .7s;
                    -ms-transition: all .7s;
                    -o-transition: all .7s;
                    transition: all .7s;
                }
                &::after{
                    position: absolute;
                    bottom: -159px;
                    left: 0;
                    width: 100%;
                    height: 161px;
                    background-color: #F7A637;
                    border-radius: 0 0 450px 450px;
                    content: '';
                    -webkit-transition: all .7s;
                    -moz-transition: all .7s;
                    -ms-transition: all .7s;
                    -o-transition: all .7s;
                    transition: all .7s;
                }
            }
            .curv{
               display: none;
            }
        }
        .infoholder{
            top: inherit!important;
            left: 0!important;
            display: inline-block;
            width: 100%!important;
            margin-top: 0px;
            position: relative !important;
            padding-top: 0px !important;
            height:200px !important;
            &:hover{
                top:0px !important;
            }
            .page-text {
                top:-2px !important;
            }
        }
    }
    .orange-center{
        position: relative;
        left: 0;
        z-index: 40;
        width: 33.333%;
        height: 1902px;
        padding: 0px 0px 0px 0px;
        display: inline-block;
        vertical-align: top;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        .orange-holder{
            width: 100%;
            height: 100%;
            left:0px;
            position: relative;
            background-color: #f06231;
            border-radius: 0px; 
            overflow: inherit;
            .orange{
                position: absolute;
                width: 100%;
                height:100%;
                background-color: #f06231;
                right: 0px;
                -webkit-transition: all 0.7s;
                -moz-transition: all 0.7s;
                -ms-transition: all 0.7s;
                -o-transition: all 0.7s;
                transition: all 0.7s;
                &::before{
                    position: absolute;
                    top: -161px;
                    left: 0;
                    width: 100%;
                    height: 161px;
                    background-color: #f06231;
                    border-radius: 450px 450px 0px 0px;
                    content: '';
                    -webkit-transition: all .7s;
                    -moz-transition: all .7s;
                    -ms-transition: all .7s;
                    -o-transition: all .7s;
                    transition: all .7s;
                }
                &::after{
                    position: absolute;
                    bottom: -159px;
                    left: 0;
                    width: 100%;
                    height: 161px;
                    background-color: #f06231;
                    border-radius: 0 0 450px 450px;
                    content: '';
                    -webkit-transition: all .7s;
                    transition: all .7s;
                }
            }
            .infoholder{
                top: inherit!important;
                left: 0!important;
                display: inline-block;
                width: 100%!important;
                margin-top: 0px;
                position: relative !important;
                padding-top: 0px !important;
                height:200px !important;
                &:hover{
                    top:0px !important;
                }
            }
        }
    }
    .red-center{
        position: relative;
        left: 0;
        z-index: 40;
        width: 33.333%;
        height: 841px;
        padding: 0px 0px 0px 0px;
        display: inline-block;
        vertical-align: top;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        .red-holder{
            width: 100%;
            height: 100%;
            left:0px;
            position: relative;
            background-color: #d21528;
            border-radius: 0px; 
            overflow: inherit;
            .red{
                position: absolute;
                width: 100%;
                height:100%;
                background-color: #d21528;
                right: 0px;
                -webkit-transition: all 0.7s;
                transition: all 0.7s;
                &::before{
                    position: absolute;
                    top: -161px;
                    left: 0;
                    width: 100%;
                    height: 161px;
                    background-color: #D21528;
                    border-radius: 450px 450px 0px 0px;
                    content: '';
                    -webkit-transition: all .7s;
                    -moz-transition: all .7s;
                    -ms-transition: all .7s;
                    -o-transition: all .7s;
                    transition: all .7s;
                }
                &::after{
                    position: absolute;
                    bottom: -230px;
                    left: 0;
                    width: 100%;
                    height: 424px;
                    background-color: #d21528;
                    border-radius: 450px 450px 450px 450px;
                    content: '';
                    -webkit-transition: all .7s;
                    -moz-transition: all .7s;
                    -ms-transition: all .7s;
                    -o-transition: all .7s;
                    transition: all .7s;
                }
            }
            .infoholder{
                top: inherit!important;
                left: 0!important;
                display: inline-block;
                width: 100%!important;
                margin-top: 0px;
                position: relative !important;
                padding-top: 0px !important;
                height:200px !important;
                &:hover{
                    top:0px !important;
                }
            }
        }
    }
}
.yellow-center, .red-center, .orange-center{
    h1,.title-underline{
        opacity: 1.0;
    }
    .infoholder{
        opacity: 1.0;
        -webkit-transition-delay: 1s;
        -moz-transition-delay: 1s;
        -ms-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s;
    }
}
.yellow-center, .orange-center, .red-center, .bottom-tap, .tap-red{
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
.red-to-page-ipad{
    .yellow-center{
        left: -33.333333%;        
    }
    .yellow-center, .orange-center, .red-center{
        .infoholder{
            opacity: 0.0;
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -ms-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }
        h1,.title-underline{
            opacity: 0.0;
        }
    }
    .orange-center{
        left: -66.6666666%;
    }
    .red-center{
        left: 33.3333333%;
    }
    .bottom-tap{
        left: -100% !important;
    }
    .tap-red{
        right: -325px;
    }
}
.show-this-page .spacing{
    width: 100% !important;
}