.key-holder{
    opacity: 0.0;
    position: absolute;
    top: 150px !important;
    left: 3%;
    z-index: 35;
    width: 358px;
    height: 112px; 
    font-weight: 100px;
    font-size: 14px;
    font-weight: 100px;
    .key-holder-item {
        .key-holder-item-inner {
            display: inline-block;
            vertical-align: top;
            width: auto;
            background-position: center;
            line-height: 18px;
            &.shape-holder {
                width: 22px;
            }
        }
    }
    .key-holder-s, .key-holder-c, .key-holder-t {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
    }
    .key-holder-s {
        background-image: url(img/q.png);
    }
    .key-holder-c{
        background-image: url(img/s.png);
    }
    .key-holder-t{
        background-image: url(img/t.png);
    }
}
@media all and (max-width: 660px) {
    .key-holder {
        position: absolute;
        top: 323px !important;
        width: 100%;
        left: 0% !important;
        text-align: center;
        .key-holder-item {
            width: 100%;
        }
    }
}