.logo-holder{
    position: absolute;
    top: 55px;
    right: 6%;
    z-index: 0;
    width: 300px;
    height: 196px;
    opacity: 0.0;
    .logo{
        width: 100%;
        height: 100%;
        background-image: url(img/Logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
@media all and (max-width:660px) {
    .logo-holder {
        top: 0px;
        left: 0%;
        width: 100%;
        .logo{
            width: 100%;
            background-position: center;
            background-size: 60%;
            padding-top: 60px;
            position: relative;
            top: 50px;
        }
    }
}