@media (max-width: 660px){
    
    .red-center, .yellow-center, .orange-center{
        width: 100% !important;
        z-index: 1;
    }
    .body-no-scroll{
        overflow: hidden;
        position: fixed;
    }
    
    .orange-center{
        margin-bottom: 121px;
    }
    .yellow-to-page-ipad, .red-to-page-ipad{
        .yellow-center, .orange-center, .red-center {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
            left: -100%;  
        }
    }
    .red-to-page-ipad{
        .tabs-mobile {
            width: 163%;
            left: -33%;
            -webkit-transition: all .7s;
            -moz-transition: all .7s;
            -ms-transition: all .7s;
            -o-transition: all .7s;
            transition: all .7s;
        }
    }
    
    .container {
        padding-top: 585px;
        .orange-center {
            top: 47px;
        }
    }
    
    .title-container {
        position: absolute;
        top: 261px;
        left: 0%;
        z-index: 300;
        width: 101%;
        height: 135px;
        text-align: center;
        h1,.title{
            width: 100%;
            font-size: 16px;
        }
        .date{
            font-size: 15px !important;
            margin-top: -10px;
        }
    }
    
    
    .spacing{
        height: auto !important;
    }
    .container .yellow-center {
        margin-bottom: 35px;
    }
    #northern-ireland-executive .infoholder{
            margin-top: 114px !important;
    }
    .container .red-center .red-holder .red::after{
        bottom: -190px;
    }
    .shrink-the-logo, .shrink-the-title, .shrink-the-key {
        opacity: 0.0 !important;
    }
    
    .orange {
        padding-top: 136px;
    }
    .orange-center{
        h1{
            top: 115px;
        }
        .title-underline{
            top: 95px;
        }
    }
    
    .show-this-page .spacing .infoholder .page-text {
    width: 100%!important;
    }
    #charities-enterprise{
        margin-top: 20px;
    }
    .yellow-center, .red-center, .orange-center{
        h1{
            width: 100%;
            box-sizing: border-box;
        }
    }
    .red-center {
        top: 30px;
    }
    .red-center h1{
        margin-top: -39px;
    }
    html body .container{
        .yellow-center .yellow, .red-center .red, .orange-center .orange{
            .infoholder{
                height: 150px!important;
            }
        }
        .red-center {
            height: 948px;
        }
        .orange-center {
            height: 1670px;
        }
        .yellow-center {
            height: 1202px;
        }
    }
}