.page-holder{
    position: absolute;
    top: 260px;
    left: 0;
    display: inline-block;
    float: left;
    width: 100%;
    height: 1046px;
    z-index: 0;
    .body-text-holder{
        width: 90%;
        margin: 0 auto 0 auto;
        top: 150px;
        .text{
            display: inline-block;
            width: 100%;
            height: auto;
            color: #ffffff;
            padding: 0px 14px 0px 0px;
            font-family: sans-serif;
            vertical-align: top;
            bottom: 0px;
            position: relative;
            li{
                line-height: 27px;
            }
        }
    }
    .backhome{
        width: 200px;
        height: 200px;
        float:right;
        z-index: 45;
        cursor: pointer;
        p{
            font-family: sans-serif;
            font-size: 30px;
            color:#ffffff;
        }
    }
    h2{
        padding: 0 10px 0px 0px;
        font-size: 14px !important;
        text-decoration: underline;
    }
    p{
        font-size: 14px;
        margin-top: 0px;
    }
    .body-text-holder{
        height: auto;
        overflow: hidden;
        font-size: 14px;
        h1{
            margin-left: 6px;
            color: #fff;
        }
        .title-underline{
            display: block;
            width: 82%;
            height: 15px;
            margin-left: 7px;
            letter-spacing: 5px;
            color: #fff;
            overflow: hidden;
            margin-top: -17px;
            margin-bottom: 13px;
        }
        h3{
            margin-bottom: 3px;
            margin-left: 0px;
            font-size: 14px !important;
            font-weight: 800;
        }
        a:link, a:visited, a:hover{
            text-decoration: underline;
        }
    }    
    .body-text-holder .text {
        display: inline-block;
        width: 50%;
        height: auto;
        padding: 0 10px 0 10px;
        font-family: sans-serif;
        color: #fff;
        vertical-align: top;
        box-sizing: border-box;
        margin-bottom: 0px;
    }
    .spacing .text{
        width: 50%;
    }
}
@media all and (max-width:660px) {
    .page-holder {
        height: initial;
        z-index: 51;
        .show-this-page{
            position: fixed !important;
            top: 0px;
            margin-top: 0px;
            z-index: 999;
            width: 100%;
            height: 100%;
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            background-color: #07515a;
            opacity: 1.0;
            .page-text {
                position: absolute;
                left: 0px;
                width: 100% !important;
                opacity: 1.0;
                top:-2px !important;
                padding: 0px 0px 0px 0px !important;
                box-sizing: border-box;
            }
            .infoholder {
                left: 0%;
                width: 100%;
                margin-top: inherit !important;
                position: relative !important; 
                height: auto !important;
            }
        }
        .body-text-holder {
            position: relative !important;
            width: 100% !important;
            left:0px;
            overflow: hidden;
            margin-top: 82px !important;
            .text{
                width: 100%;
                padding: 0 20px 0 20px;
            }
            h1 {
                margin-left: 7px;
                color: #fff;
                padding: 0px 10px;
                text-align: left;
                opacity: 1.0;
            }
            .title-underline{
                margin-left: 20px;
            }
        }
        .spacing .text{
            margin-top: 0px !important;
            top:0px !important;
            width: 100%;
        }
    }
    .body-text-holder{
        .text{
            background-color: #054A52;
        }
    }
    .infoholder{
        left: 0% !important;
        width: 100% !important;
        top:0px !important;
        top:inherit;
        .page-text {
            padding: 0px 10px 0px 10px!important;
        }
        h2{
            padding: 0 10px 0 10px!important;
        }
        .shape-holder{
            margin-left: 10px;
        }
    }
}