.show-this-page{
    opacity: 1.0;
    .body-text-holder{
        width: 90%;
        margin: 0 auto 0 auto;
        opacity: 1.0;
    }
    .container-shrink{
    -webkit-transition: all .7s;
    transition: all .7s;
     -webkit-transition-delay: 2.5s; 
        transition-delay: 2.5s;
    right: -1024px !important;
    opacity: 1.0 !important;
    }
    .uk-government-departments-page{
        opacity: 1.0;
    }
}
.red-container-down{
    top: 105px !important;
    -webkit-transition: width .7s;
    transition: all .7s;
}
.container .red-to-page{
    position: absolute;
    width: 15%;
    height:100%;
    background-color: #f7a637;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all .7s;
        transition: all .7s;
    &::before{
        position: absolute;
        top: 0;
        left: -851%!important;
        width: 854% !important;
        height: 37%;
        border-radius: 100px;
        content: '';
        -webkit-transition: all 0.7s; 
        transition: all 0.7s;
    }
}
.hide-red .red-center .red-holder .red {
    position: absolute;
    opacity: 0.0 !important;
}

