.shape-holder{
    margin: 0 auto;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    &.shape-holder-infoholder {
        background-position: left;
    }
}