.tab{
    top: 101px;
    right: 97px;
    position: absolute;
    z-index: 234234;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px 200px 200px 200px;
    -moz-border-radius: 10px 200px 200px 200px;
    -webkit-border-radius: 10px 200px 200px 200px;
    border: 0px solid #000000;
    padding-top: 10px;
    box-sizing: border-box;
    p{
        color: #A4B576;
        font-size: 16px;
        padding: 0px 15px 0px 15px;
        &:nth-child(1){
            margin-top: 10px;
        }
        &:nth-child(2){
            margin-top: -17px;
        }
    }
    &.bottom-tap {
        top: 2100px;
        left: 65%!important;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
        &:after {
            position: absolute;
            top: -5px;
            left: -26px;
            width: 0;
            height: 0;
            content: '';
            -webkit-transform: rotate(134deg);
            -moz-transform: rotate(134deg);
            -ms-transform: rotate(134deg);
            -o-transform: rotate(134deg);
            transform: rotate(134deg);
        }
    }
}
.uk-tab{
    right: 0px;
    top: 1415px;
    &:after{
        position: absolute;
        top: -5px;
        left: -26px;
        width: 0;
        height: 0;
        content: '';
        -webkit-transform: rotate(134deg);
        -moz-transform: rotate(134deg);
        -ms-transform: rotate(134deg);
        -o-transform: rotate(134deg);
        transform: rotate(134deg);
    }
    p{
        padding: 0px 30px 0px 30px;
        color: #A4B576;
        font-weight: 500;
    }
}
.tap{   
     &:after{
        position: absolute;
        top: -6px;
        left: 46px;
        width: 0;
        height: 0;
        border-top: 40px solid #fff;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        content: '';
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}
.welsh-tab {
    top: 2247px !important;
}
.esrc-tab {
    top: 1952px !important;
}
.Scottish-tab {
    top: 1805px !important;
}
.yellow-to-page-ipad {
    .tab{
        left: 100%!important;
    }
}
.red-to-page-ipad {
    .tab {
        left: -100%!important;
    }
}

@media all and (max-width: 660px) {
    .tab{
        position: absolute;
        z-index: 50;
        width: 110px;
        height: 110px;
        text-align: center;
        background-color: #fff;
        box-sizing: border-box;
        p{
            z-index: 40;
        }
    }
    .uk-tab {
        top: 3446px;
        left: 0% !important;
        border-radius: 200px 200px 10px 200px;
        -moz-border-radius: 200px 200px 10px 200px;
        -webkit-border-radius: 200px 200px 10px 200px;
        border: 0px solid #000000;
        p{
            font-size: 20px;
        }
    }
    .tabs-mobile{
        position: absolute;
        width: 100%;
        height: 345px;
        top: 1668px;
        .Scottish-tab {
            top: 0px!important;
            left: 0px !important;
             border-radius: 200px 200px 10px 200px;
            -moz-border-radius: 200px 200px 10px 200px;
            -webkit-border-radius: 200px 200px 10px 200px;
            border: 0px solid #000000;
        }
        .lottery-tab {
            top: 0px!important;
            left: inherit !important;
            right: 0px;
            border-radius: 200px 200px 200px 10px;
            -moz-border-radius: 200px 200px 200px 10px;
            -webkit-border-radius: 200px 200px 200px 10px;
            border: 0px solid #000000;
        }
        .esrc-tab {
            top: 125px !important;
            left: 0% !important;
             border-radius: 200px 10px 200px 200px;
            -moz-border-radius: 200px 10px 200px 200px;
            -webkit-border-radius: 200px 10px 200px 200px;
            border: 0px solid #000000;

        }
        .welsh-tab {
            top: 125px !important;
            left: inherit !important;
            right: 0px;
        }
        p{
            font-size: 17px !important;
        }
        .tab:nth-child(4) p{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .tabs-mobile{
            top: 1653px;
        }
        .lottery-tab p:nth-child(2) {
            margin-top: 1px!important;
        }
        .yellow-to-page-ipad {
            .tabs-mobile {
                width: 163%;
                left: -33%;
                -webkit-transition: all .7s;
                -moz-transition: all .7s;
                -ms-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
            }
        }
    }
}
