.page-holder{

}
.container-shrink{
    position: absolute;
    top: -640px;
    right: inherit;
    display: inline-table;
    float: none;
    height: 1450px;
    margin: 0;
    background-color: #eee;
    background-color: #07515a;
    -webkit-transition: all .7s;
    transition: all .7s;
    right: -1299px;
    vertical-align: top;
    opacity: 0.0 !important;
}
.hide-yellow{
    .yellow{
        position: absolute;
        width: 15%;
        height:100%;
        background-color: #07515a !important;
        right: 0px;
        cursor: pointer;
        pointer-events: all;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
        &::before{
            position: absolute;
            top: 0;
            left: -78px;
            width: 300px;
            height: 43%;
            background-color: #07515a !important;
            border-radius: 100px;
            content: '';
            -webkit-transition: all 0.7s;
            transition: all 0.7s;
        }
        &::after{
            position: absolute;
            bottom: 0;
            left: -762px;
            width: 2900px;
            height: 43%;
            background-color: #07515a !important;
            border-radius: 100px;
            content: '';
            -webkit-transition: all 0.7s;
            transition: all 0.7s;
        }
    }
}
.show-this-page{
    position: initial !Important;
    .spacing .infoholder{
        left: 0% !important;
        .page-text{
            width: 75% !important;
        }
    }
    .body-text-holder{
        width: 90%;
        margin: 0 auto 0 auto;
/*        display: block;*/
        margin-top: 235px;
        overflow: inherit;
    }
    .container-shrink{
    -webkit-transform: scale(0.08);
    -moz-transform: scale(0.08);
    -ms-transform: scale(0.08);
    transform: scale(0.08);
    -webkit-transition: all .7s;
    transition: all .7s;
    -webkit-transition-delay: 2.5s; 
    transition-delay: 2.5s;
    right: -1024px !important;
    opacity: 1.0 !important;
    }
}
.container .yellow-to-page{
    position: absolute;
    width: 15%;
    height:100%;
    background-color: #f7a637;
    right: 0px;
    cursor: pointer;
    pointer-events: all;
    -webkit-transition: all .7s;
        transition: all .7s;
    &::before{
        position: absolute;
        top: 0;
        left: -68px;
        width: 300px;
        height: 37%;
        background-color: #f7a637;
        border-radius: 100px;
        content: '';
        -webkit-transition: all 0.7s; 
        transition: all 0.7s;
    }
    &::after{
        position: absolute;
        bottom: 0;
        width: 1250% !important;
        height: 37%;
        background-color: #f7a637;
        border-radius: 100px;
        content: '';
        -webkit-transition: all .7s;
        transition: all .7s;
        left: -1194%!important;
    }
}
