html {
    -webkit-overflow-scrolling: touch;
}
body{
    background-color: @bgGreen;
    overflow-x: hidden;
    margin: 0px;
    padding:0px;
    color: #fff;
    font-family: "proxima-nova",sans-serif !important;
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.isHidden {
  display: none;
}
ul, ol, li {
    padding: 0px;
    margin-left: 8px;
}
a:link, a:visited, a:hover{
    color:#ffffff;
}
@media all and (max-width: 660px) {
    html {
         overflow-x:hidden;
    }
}