.ie9 {
    .body-text-holder, .key-holder, .links-are-title, .logo-holder, .title-container { 
         opacity: 1;
    }
    .yellow-holder,.red-holder,.orange-holder {
        div div{
            opacity: 1;
        }
    }
    .yellow-center, .orange-center, .red-center{
        h1 {
            opacity: 1;
        }
    }
    .red-to-page-ipad {
        .yellow-center, .orange-center, .red-center{
            .infoholder{
                opacity: 1;
            }
            h1,.title-underline{
                opacity: 1;
            }
        }
    }
}