.circle {
    -webkit-border-radius :100%;
    -moz-border-radius :100%;
    border-radius :100%;
}
.square {
    -webkit-border-radius :0%;
    -moz-border-radius :0%;
    border-radius :0%;
}
.transitionAll {
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
}
.transitionOpacity {
    -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    transition:opacity 0.3s;
}
.medTransition {
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
.slowTransition {
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    transition:all 2s;
}
.instantTransition {
    -webkit-transition:all 0s;
    -moz-transition:all 0s;
    transition:all 0s;
}